# Homework 3: CS344, Spring 2020

# Ian Park

## 1. Compute the following values using the restaurant example.

#### a. The information gain provided by using the price attribute as the root of the decision tree. Is it more or less valuable than the type or patrons attributes computed in class?

From the Guide:

$Entropy(V) = \sum_{i = 1}^{n} v_i \times \log_2(v_i)$

$Remainder(A) = \sum_{i = 1}^{d} \frac{p_i + n_i}{p+n} \times Entropy(\frac{p_i}{p_i + n_i}, \frac{n_i}{p_i + n_i})$

$Gain(A) = Entropy(V) - Remainder(A)$

$Gain(Patrons?) = 0.54 bits$



**Calculations**:

*Entropy*

\begin{align}
Entropy(Init) & = -(\frac{6}{12} \cdot \log_2(\frac{6}{12}) + \frac{6}{12} \cdot \log_2(\frac{6}{12})) \\
& = 1 \\
\end{align}

*Remainder*

\begin{align}
Remainder(Price?) & = \frac{3}{12} Entropy($$$) + \frac{2}{12} Entropy($$) + \frac{7}{12}Entropy($) \\
& = \frac{3}{12} \times (-(\frac{1}{3}\log_2(\frac{1}{3})+\frac{2}{3}\log_2(\frac{2}{3}))) + \frac{2}{12} \times 0 + \frac{7}{12} \times (-(\frac{3}{7}\log_2(\frac{3}{7})+\frac{4}{7}log_2(\frac{4}{7})) \\
& = 0.8043 \\
\end{align}

*Gain*

\begin{align}
Gain(Price?) & = Entropy(Init) - Remainder(Price?) \\
& = 1 - 0.8043 \\
& = 0.1957 \\
\end{align}

Since the information gain for *Price* is 0.1957, it is more valuable than *Patrons* (0.54) and less valuable than *Types* (0).

## 2. In class, we attempted to create by hand a neural network that computes the XOR function. If this was possible, see if you can simplify the network we built. Consider relaxing the conventions of densely-connected, sequential layers. If it was not possible, give a full explanation why it canâ€™t be done.

We could simplify the network by relaxing the convention of sequential layers, as suggested by the question. That is, we will have the two inputs directly linked to the output. And an additional center hidden layer with a single neuron connected with the input and output neurons with a threshold of 1.5. This threshold makes sure that it will be activated when both inputs are 1 (AND). Likewise, the weight of this layer to the output layer would be -2 so that it won't pass the threshold in the end resulting in a 0. And there will be a single output with the threshold of 0.5 in order to make sure that the output will be true if and only if the added inputs has a value greater than 0.5 (all the possibilities of OR, but 1,1 will be filtered by the center layer).

## 3. Use Python/NumPy/Pandas/Keras to load and manipulate the Boston Housing Dataset as follows.

Import packages

In [12]:
import pandas as pd
import numpy as np

Assign values

In [19]:
boston_df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")
# https://stackoverflow.com/questions/29576430/shuffle-dataframe-rows
# Shuffle rows to randomize
boston_df = boston_df.sample(frac=1)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
409,14.43830,0.0,18.10,0,0.597,6.852,100.0,1.4655,24,666,20.2,179.36,19.78,27.5
84,0.05059,0.0,4.49,0,0.449,6.389,48.0,4.7794,3,247,18.5,396.90,9.62,23.9
300,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
140,0.29090,0.0,21.89,0,0.624,6.174,93.6,1.6119,4,437,21.2,388.08,24.16,14.0
103,0.21161,0.0,8.56,0,0.520,6.137,87.4,2.7147,5,384,20.9,394.47,13.44,19.3

*a. Compute the dimensions of the data structures. Include code to print these values.*

In [37]:
print("Rows:", boston_df.shape[0],
      "Columns:", boston_df.shape[1])

Rows: 506 Columns: 15

*b. Construct a suitable testing set, training set, and validation set for this data. Submit code to create these datasets but do not include the datasets themselves.*

In [44]:
testing_set = boston_df.tail(126)
temporary_set = boston_df.head(380)
validation_set = temporary_set.tail(114)
training_set = temporary_set.head(266)

print("Testing Set:", testing_set.shape,
      "Validation Set:", validation_set.shape,
      "Testing Set", training_set.shape)

Testing Set: (126, 15) Validation Set: (114, 15) Testing Set (266, 15)

*c. Create one new synthetic feature that could be useful for machine learning in this domain. Explain what it is and why it might be useful, and submit code to add it to the dataset.*

In [66]:
boston_df['nitrogen_oxide_and_wealth'] = boston_df['medv']/boston_df['nox']
print(boston_df['nitrogen_oxide_and_wealth'].head())

409    46.063652
84     53.229399
300    62.000000
140    22.435897
103    37.115385
Name: nitrogen_oxide_and_wealth, dtype: float64

This synthetic feature explores the relationship between nitrogen oxide contentration (which implies emission) and wealth in the area. Nitrogen oxides comprise seven gases, some of which are hazardous and contribute to global warming. I wanted to see if wealth has a relationship to the environmental awareness of an area.